.mainContainer{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(211, 245, 245);
    height:100vh;
    padding-top:20px; 
}
.appHeading{
    font-size:30px;
    font-weight: bold;
    font-family: Georgia;
    text-decoration: underline;  
}

@media (min-width:992px){
    .mainContainer{
        padding-top: 50px;
    }
    .appHeading{
        font-size:40px;
    }
}